body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    text-decoration: underline;
}

.header-container {
    display: flex;
    align-items: center;
    flex-direction: column; 
    flex-wrap: wrap;
    background-color: #1F2937;
    padding-bottom: 100px; 
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    padding-bottom: 80px;
    margin-top: 15px;
    column-gap: 530px;
}

#logo {
    width: 50px;
    height: 50px;
    border: none;
}

.links  {
    display: flex;
    gap: 16px;
}

.header-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.left-header {
    width: fit-content;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.header-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.placeholder {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://preview.redd.it/3wijxmj4jvt51.png?auto=webp&s=f8f1e49a6c3696cdefb279f4d9e7bf0a255b8199);
    padding: 150px 120px;
}

.signup {
    background-color: #3882F6;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    font-weight: bold;
    border: 1px solid #383838;
    cursor: pointer;
    margin-top: 20px;
}

.signup a {
    display: block;
    width: 100%;
    line-height: 40px;
    text-decoration: none;
}



.signup:hover {
    background-color: #2655a1
}

.illustration-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.illustration {
    width: 200px;
}

img {
    border: 4px solid #3882F6;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.illustration p {
    text-align: center;
}

#text-above {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 20px;
}

.middle-2 {
    margin-top: 100px;
    background-color: #e5e7eb;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    opacity: 0.7;
    font-style: italic;
}

.quotesign {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.5;
}

.call-section {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.call {
    width: 70%;
    height: 50%;
    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.call-signup {
    background-color: #3882F6;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid white;
    height: 40px;
    width: 110px;
    font-size: 1rem;
    cursor: pointer;
}

.call-signup a {
    text-align: center;
    display: block;
    width: 100%;
    line-height: 38px;
    text-decoration: none;
}

.call-signup:hover {
    background-color: #2655a1
}

#call-text p {
    margin: 1px;
}

footer {
    display: flex;
    height: 120px;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}



